<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.urdriver.urdriver">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Network.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PaymentActivity" />
        <activity
            android:name=".CancelledCabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CancelCabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoUserForAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserForAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DriverStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestDenied"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowDriverRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DriversRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateCab"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewRating"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InvoiceActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".StartTrip"
            android:label="@string/title_activity_start_trip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YourAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyTripActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewCab"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadPapers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Network.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
    </application>

</manifest>